@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: all 0.5s ease-in-out;
}
body {
    font-family: "Alata", serif;
}

.link {
    cursor: pointer;
    font-size: medium;
    white-space: nowrap;
    padding-bottom: 10px;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.link:hover::after {
    width: 50%; 
    left: 50%;
}


.border {
    font-family: "Josefin Sans", serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 200;
    border: solid 5px whitesmoke;
    padding: 40px 40px 40px 60px;
    transition: all 0.5s ease-in-out;
}

.border:hover{
    border: solid 5px black;
    font-weight: 400;
}

.font{
    font-family: "Josefin Sans", serif;
    font-weight: 200;
    font-size: 40px;
}
.paragraph{
    font-family: "Josefin Sans", serif;
    font-weight: 200;    
}

.smH1{
    font-family: "Josefin Sans", serif;
    font-weight: 200;
    font-size: 40px;
    border: solid 5px whitesmoke;
}